* {
    margin: 0;
}

@font-face {
    font-family: "main";
    src: url("../font/NotoSans-Regular.ttf");
}

@font-face {
    font-family: "intro";
    src: url("../font/YuseiMagic-Regular.ttf");
}

@font-face {
    font-family: "text";
    src: url("../font/Raleway-Light.ttf");
}

body {
    margin: 10px;
    background-color: #39375b;
}

#navBar {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10 0 10;
    border: 1px solid #39375b;
}

#navBar {
    border-radius: 5px;
    background-color: azure;
    a {
        color: #39375b;
        text-decoration: none;
        padding: 5px;
        font-family: "text";
    }
}

#top {
    text-align: center;
    margin: 0px 10px 0px 10px;
    position: relative;
    z-index: 1;
    padding-top: 50px;
    height: auto;
}

#computer-svg {
    filter: invert(100%);
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    min-width: 10px;
    max-width: 200px;
}

#name {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "main";
    color: aliceblue;
    min-width: 30%;
    max-width: 500px;
}

#intro {
    font-family: "intro";
    font-size: 1.5em;
}

#middle,
#bottom {
    background-color: azure;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "text";
    color: #696969;
    min-width: 30%;
    max-width: 500px;
    border-radius: 25px;
    padding: 50px;
    position: relative;
    z-index: 1;
}

#middle {
    p {
        margin: 15px;
    }
}

hr {
    margin: 30px;
    max-width: 450px;
    min-width: 30%;
}

.logo {
    min-width: 30%;
    max-width: 50px;
    margin-right: auto;
    margin-left: auto;
    filter: saturate(0%) grayscale(100%) contrast(30%);
    transition: 0.4s;
}

.logo:hover {
    filter: saturate(100%) grayscale(0%) contrast(50%);
}

.stars {
    color: darkorange;
    font-size: 1.5em;
}

#resume {
    margin-top: -25px;
}

#downloadButtons {
    display: flex;
    position: relative;
    z-index: 2;
    padding-left: 20%;
    padding-right: 20%;
    flex-direction: row;
}

#downloadDiv {
    min-width: 30%;
    height: max-content;
    padding: 10px;
}

#download {
    font-size: 15px;
    background-color: #101231;
    color: azure;
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "text";
    margin-bottom: 10px;
}

.downloadHint {
    visibility: hidden;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

.Dark {
    background-color: #101231;
    color: azure;
}

.Light {
    background-color: azure;
    border: thin solid #101231;
    color: #101231;
}

#downloadDiv:hover {
    span.Dark,
    span.Light {
        visibility: visible;
    }
}

a {
    color: transparent;
}

/* from : https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.switch {
    position: relative;
    float: right;
    width: 60px;
    height: 34px;
    z-index: 1000;
    /* Hide default HTML checkbox */
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: azure;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: #39375b;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }
    &.round {
        border-radius: 34px;
        &:before {
            border-radius: 50%;
        }
    }
}
input {
    &:checked + .slider {
        background-color: azure;
    }
    &:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        background-color: #1b1b1b;
    }
}

.Night {
    background-color: #1b1b1b;
    #navBar,
    #middle,
    #bottom {
        background-color: #4b4b4b;
        color: #f0ffff;
        a {
            color: #f0ffff;
        }
    }
    #download,
    .downloadHint {
        background-color: #1b1b1b;
        border-color: #1b1b1b;
        &.Light {
            background-color: azure;
        }
    }
}
